<html>
	<head>
		<title>Number Guesser</title>
		<style>
			body {
				background: blue;
				color: white;
			}
		</style>

	</head>
	<body>

		<p> Guess the secret number </p>
			
		<p>
			<% if cheat %>
				"CHEAT MODE! <br> The secret number is <%= x %>...shhh!"
			<% end %>
		</p>

	

		<form>

			<input type='text' name='guess' />
			<input type='submit' value='Guess!' />

		</form>

		<p>
			"<%= m %>"
		</p>

		 
	</body>
</html>