<html>
	<head>
		<style>
			body {
				background: blue;
				color: white;
			}
		</style>

	</head>
	<body>
		
	
			<p>

				"THE SECRET NUMBER IS <%= x %>"

			</p>

	

		<form>

			<input type='text' name='guess' />
			<input type='submit' value='Guess!' />

		</form>

		<p>

			"<%= m %>"
		</p>

		 
	</body>
</html>