<html>
	<head>
		<title>Hangman</title>
		<style>
			body {

				margin-top: 80px;
				background: #4b0082;
				color: white;
			}
		</style>

	</head>
	<body>
		<center>

		<p> Let's play hangman! </p>
		<br>

	
		<%= yield %>


		</center> 
	</body>
</html>